@import "tailwindcss";

@theme inline {
  --font-baloo: var(--font-baloo);
  --font-paytone: var(--font-paytone);
  --color-atalenta-paars: #663B8F;
  --color-atalenta-donkergrijs: #373737;
}

body {
  background: #D1CCE39E;
  font-family: var(--font-baloo);
}